@keyframes hero-levitate-amimation {
	0%{
        top: 80px;
    }
    50% {
        top: 70px;
    }
    100% {
        top: 80px;
    }

}
@keyframes hero-attack-levitate {
    0%{
        left: -20px;
        top: 80px;
    }
    50%{
        left: 85px;
        top: 23px;
    }
    
    100% {
        left: 85px;
        top: 23px;
    }
}

@keyframes laser {
    from{
        width: 138px;
    }
    to {
        width: 660px;
    }
}

@keyframes shadow {
   0%{
        width: 250px;
    }
   50% {
        width: 225px;
        left: 12.5px;
    }
    100% {
        width: 250px;
    }
}

@keyframes hero-cloak-levitate {
    0%{
        transform: scaleY(0.9);
    }
    50% {
        transform: scaleY(1) scaleX(0.97);
    }
    100% {
        transform: scaleY(0.9);
    }
}


